html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url("../src/work.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}